<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" href="../../static/css/commons.css" th:href="@{/css/commons.css}"/>
    <title>Tareas</title>
</head>
<body>

    <div th:insert="generics/fragments::header"></div>

    <div class="container">
        <h2 class="font-weight-bold text-center py-3">Asignación de tareas</h2>
        <br>
        <div>
            <a th:href="@{/sleepingMotorhome/service/all}" class="btn btn-secondary btn-sm mx-1" role="button" data-bs-toggle="button">Regresar</a>
        </div>
        <hr>
        <form th:action="@{/sleepingMotorhome/service/save}" method="POST" th:object="${service}">

            <input type="hidden" th:field="*{id}" th:if="${editMode}">

            <!--<div class="row mb-2">
                <div class="form-group col-sm-4" th:objetct="${service}">
                    <label>Seleccionar servicio (*) </label>
                    <select class="form-control" name="serv">
                        <option value="">Selecciona una opción</option>
                        <option th:each="temp : ${service}"
                                th:value="${temp.id}"
                                th:text="${temp.description}"
                                th:field="*{service.id}"
                        >
                        </option>
                    </select>
                    <div class='alert-danger' th:if="${#fields.hasErrors('service.id')}" th:errors="*{service.id}"></div>
                </div>
                <div class="form-group col-sm-4" th:objetct="${employee}">
                    <label>Seleccionar empleado (*) </label>
                    <select class="form-control" name="emple">
                        <option value="">Selecciona una opción</option>
                        <option th:each="temp : ${employee}"
                                th:value="${temp.id}"
                                th:text="${temp.name + ' ' + temp.surname}"
                                th:field="*{c.id}"
                        >
                        </option>
                    </select>
                    <div class='alert-danger' th:if="${#fields.hasErrors('employee.id')}" th:errors="*{employee.id}"></div>
                </div>
            </div>-->

            <div>
                <input type="submit" class="btn btn-primary btn-sm mx-1" name="save"
                       th:value="${editMode}?'Editar':'Guardar'"
                       value="Guardar"
                >
            </div>
        </form>
    </div>

    <br><br>
    <div th:insert="generics/fragments::footer"></div>

</body>
</html>