<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" href="../../static/css/commons.css" th:href="@{/css/commons.css}"/>
    <title>Usuarios</title>
</head>
<body>

    <div th:insert="generics/fragments::header"></div>

    <div class="container">
        <br>
        <h2 class="font-weight-bold text-center py-3">Lista de empleados</h2>
        <br>

        <div class="float-left">
            <a th:href="@{add}" class="btn btn-primary btn-sm mx-1 navbar-btn" role="button" data-bs-toggle="button">Crear Empleado</a>
            <a th:href="@{/sleepingMotorhome/home}" class="btn btn-secondary btn-sm mx-1" role="button" data-bs-toggle="button">Ir a Home</a>
        </div>

        <br><br>

        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th>Nombre(s)</th>
                    <th>Apellido(s)</th>
                    <th>Documento</th>
                    <th>Dirección</th>
                    <th>Número</th>
                    <th>Piso/Dpto</th>
                    <th>Teléfono</th>
                    <th>Fecha Ingreso</th>
                    <th>Fecha Egreso</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="emp : ${employee}">
                    <td th:text="${emp.name}"></td>
                    <td th:text="${emp.surname}"></td>
                    <td th:text="${emp.documentNumber}"></td>
                    <td th:text="${emp.addressName}"></td>
                    <td th:text="${emp.addressNumber}"></td>
                    <td th:text="${emp.floor}"></td>
                    <td th:text="${emp.phone}"></td>
                    <td th:text="${emp.dateOfAdmission}"></td>
                    <td th:text="${emp.dateOfEgress}"></td>
                    <td>
                        <div class="d-grid d-inline-flex px-3">
                            <a th:href="@{edit/{id} (id = ${emp.id})}"  class="btn btn-primary btn-sm mx-1"
                               role="button" data-bs-toggle="button">
                                Editar
                            </a>
                            <a th:href="@{delete/{id} (id = ${emp.id})}" class="btn btn-primary btn-sm mx-1" role="button"
                               data-bs-toggle="button">
                                Eliminar
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>

    <div th:insert="generics/fragments::footer"></div>

</body>
</html>