<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" href="../../static/css/commons.css" th:href="@{/css/commons.css}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <title>Usuarios</title>
</head>
<body>
    <div th:insert="generics/fragments::header"></div>

    <div class="container">
        <h2 class="font-weight-bold text-center py-3">Ingreso de nuevo usuario</h2>
        <br>
        <div>
            <a th:href="@{/sleepingMotorhome/user/all}" class="btn btn-secondary btn-sm mx-1" role="button" data-bs-toggle="button">Regresar</a>
        </div>
        <hr>
        <form th:action="@{/sleepingMotorhome/user/save}" method="POST" th:object="${user}">

            <input type="hidden" th:field="*{id}" th:if="${editMode}">
            <input type="hidden" th:field="*{password}" th:if="${editMode}">

            <div class="row mb-3">
                <div class="form-group col-sm-4">
                    <label>Nombres (*)</label>
                    <input class="form-control" type="text" th:field="*{name}" id="nombre">
                    <div class="alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                </div>
                <div class="form-group col-sm-4">
                    <label>Apellidos (*)</label>
                    <input class="form-control" type="text" th:field="*{surname}" id="apellido">
                    <div class="alert-danger" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></div>
                </div>
                <div class="form-group col-sm-4">
                    <label>Número de documento</label>
                    <input class="form-control" type="number" th:field="*{documentNumber}">
                </div>
            </div>

            <div class="row mb-3">
                <div class="form-group col-sm-4">
                    <label>Nombre de calle</label>
                    <input class="form-control" type="text" th:field="*{addressName}">
                </div>
                <div class="form-group col-sm-4">
                    <label>Número de casa</label>
                    <input class="form-control" type="number" th:field="*{addressNumber}">
                </div>
                <div class="form-group col-sm-4">
                    <label>Número de piso y departamento</label>
                    <input class="form-control" type="text" th:field="*{floor}">
                </div>
            </div>

            <div class="row mb-3">
                <div class="form-group col-sm-4">
                    <label>Teléfono de contacto  (*)</label>
                    <input class="form-control" type="number" th:field="*{phone}">
                    <div class='alert-danger' th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
                </div>
                <!--<div class="form-group col-sm-4">
                    <label>Nombre de usuario (*)</label>
                    <input class="form-control" type="text" th:field="*{userName}">
                    <div class="alert-danger" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></div>
                    <div class="alert-danger" th:text="${msgErrorUsernameExisting}"></div>
                </div>-->
                <div class="form-group col-sm-4">
                    <label>Nombre de usuario (*)</label>
                    <select class="form-control" name="usuario" id="usuario" th:field="*{userName}" required>
                        <option value="">Selecciona una opción</option>
                    </select>
                </div>
                <div class="form-group col-sm-4" th:if="${editMode} == null or ${editMode} == false">
                    <label>Contraseña (*)</label>
                    <input class="form-control" type="text" th:field="*{password}">
                    <div class="alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                </div>
            </div>

            <div>
                <input type="submit" class="btn btn-primary btn-sm mx-1" name="save"
                       th:value="${editMode}?'Editar':'Guardar'"
                       value="Guardar">
            </div>
        </form>
    </div>
    <br><br>
    <div th:insert="generics/fragments::footer"></div>

    <script th:inline="javascript">

        $(document).ready(function() {

            getUsernameSetInDB();

            $("#apellido").change(function() {
                suggestUsers();
            });

        });

        function suggestUsers() {
            var name = $("#nombre").val();
            var surname = $("#apellido").val();
            $.get( "http://localhost:8080/sleepingMotorhome/user/rest-giveUsername/" + name + "/" + surname, function( data ) {
                $("#usuario").empty();
                data.forEach(function(item, i) {
                    var option = "<option value = " + item + ">" + item +  "</option>";
                    $("#usuario").append(option);
                });
            });
        }

        function getUsernameSetInDB() {
            var location = window.location.href;
            var id = location.substr(50, location.length);
            $.get("http://localhost:8080/sleepingMotorhome/user/rest-edit/" + id, function( data ) {
                $("#usuario").empty();
                var option = "<option value = " + data.userName + ">" + data.userName +  "</option>";
                $("#usuario").append(option);
            });
        }

    </script>

</body>
</html>

