<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" href="../static/css/commons.css" th:href="@{/css/commons.css}"/>
    <title>Usuarios</title>
    <!--style>
        body{
            background: #EDEDED;
            //background: linear-gradient(to bottom, #025794, #EBEDEF);
        }
    </style-->
</head>
<body>
    <div class="container">
        <h1 class="font-weight-bold text-center py-3">Datos de la persona</h1>
        <br><br>
        <a th:href="@{/sleepingMotorhome/all}" class="btn btn-secondary btn-sm mx-1" role="button" data-bs-toggle="button">Regresar</a>
        <br><br>
        <div></div>
            <!--form th:action="${editMode} ? @{add} : @{savePerson}" method="post" th:object="${person}"-->
            <form th:action="@{/sleepingMotorhome/savePerson}" method="POST" th:object="${person}">

                <input type="hidden" th:field="*{id}" th:if="${editMode}">
                <input type="hidden" th:field="*{password}" th:if="${editMode}">

                <div class="form-group">
                    <label>Nombres:</label>
                    <input type="text" th:field="*{name}">
                </div>
                <div class="form-group">
                    <label>Apellidos:</label>
                    <input type="text" th:field="*{surname}">
                </div>
                <div class="form-group">
                    <label>Número de documento:</label>
                    <input type="number" th:field="*{documentNumber}">
                </div>
                <div class="form-group">
                    <label>Nombre de calle:</label>
                    <input type="text" th:field="*{addressName}">
                </div>
                <div class="form-group">
                    <label>Número de casa:</label>
                    <input type="number" th:field="*{addressNumber}">
                </div>
                <div class="form-group">
                    <label>Número de piso y departamento:</label>
                    <input type="text" th:field="*{floor}">
                </div>
                <div class="form-group">
                    <label>Teléfono de contacto:</label>
                    <input type="number" th:field="*{phone}">
                </div>
                <div class="form-group">
                    <label>Nombre de usuario:</label>
                    <input type="text" th:field="*{userName}">
                </div>
                <div class="form-group" th:if="${editMode} == null or ${editMode} == false">
                    <label>Nombre de contraseña:</label>
                    <input type="password" th:field="*{password}">
                </div>
                <div class="form-group blu-margin" th:objetct="${person_type}">
                    <label>Tipo de usuario:</label>
                    <select class="form-control" name="perType">
                        <option value="">Selecciona una opción</option>
                        <option th:each="personType : ${listPersonTypes}"
                                th:value="${personType.id}"
                                th:text="${personType.id} + ' - ' + ${personType.type}"
                                th:selected="${editMode} ? true : false"
                                >
                        </option>
                    </select>
                </div>

                <input type="submit" class="btn btn-primary btn-sm mx-1" name="savePerson"
                       th:value="${editMode}?'Editar':'Guardar'"
                       value="Guardar">
                <br><br><br>

            </form>
        </div>
    </div>
</body>
</html>

