<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" href="../static/css/commons.css" th:href="@{/css/commons.css}"/>
    <title>Usuarios</title>
</head>
<body>
    <div class="container" sec:authorize="isAuthenticated()">
        <br><br>
        <div class="justify-content-around">
            <div sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE')" class="float-left">
                <a th:href="@{add}" class="btn btn-primary btn-sm mx-1 navbar-btn" role="button" data-bs-toggle="button">Crear Usuario</a>
            </div>

            <div sec:authorize="isAuthenticated()" class="float-right">
                <form th:action="@{/logout}" method="post" class="navbar-text">
                    <b>| User:</b> <span sec:authentication="name">Usuario</span>
                    <b> | Roles:</b> <span sec:authentication="principal.authorities">Roles</span> <b> |</b>
                    <input type="submit" class="btn btn-primary btn-sm mx-1" name="logout" value="Cerrar Sesión">
                </form>
            </div>
        </div>
        <br><br>

        <h2 class="font-weight-bold text-center py-3">Lista de usuarios</h2>
        <br><br>

        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <!-- tener en cuenta que es ID de persona -->
                    <!--th>Id</th-->
                    <th>Nombre(s)</th>
                    <th>Apellido(s)</th>
                    <th>Documento</th>
                    <th>Dirección</th>
                    <th>Número</th>
                    <th>Piso/Dpto</th>
                    <th>Teléfono</th>
                    <th>Tipo</th>
                    <th sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE')">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <!--td th:text="${user.id}"></td-->
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.surname}"></td>
                    <td th:text="${user.documentNumber}"></td>
                    <td th:text="${user.addressName}"></td>
                    <td th:text="${user.addressNumber}"></td>
                    <td th:text="${user.floor}"></td>
                    <td th:text="${user.phone}"></td>
                    <td th:text="${user.personType.type}"></td>
                    <td>
                        <div class="d-grid d-inline-flex px-3">
                            <a th:href="@{edit/{id} (id = ${user.id})}"  class="btn btn-primary btn-sm mx-1"
                               role="button" data-bs-toggle="button" sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE')">
                                Editar
                            </a>
                            <a th:href="@{delete/{id} (id = ${user.id})}" class="btn btn-primary btn-sm mx-1" role="button"
                               data-bs-toggle="button" sec:authorize="hasAuthority('ADMIN')">
                                Eliminar
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>
</body>
</html>