<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" href="../static/css/commons.css" th:href="@{/css/commons.css}"/>
    <title>Usuarios</title>
</head>
<body>

    <div th:insert="generics/fragments::header"></div>

    <br><br><br><br>

    <div class="container" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
        <div class="row">
            <div class="col-sm">
                <a th:href="@{admin/all}">
                    <img th:src="@{/img/menu/admins.jpeg}" class="img-fluid rounded" alt="" >
                </a>
            </div>
            <div class="col-sm">
                <a th:href="@{employee/all}">
                    <img th:src="@{/img/menu/employees.jpeg}" class="img-fluid rounded" alt="">
                </a>
            </div>
            <div class="col-sm">
                <a th:href="@{user/all}">
                    <img th:src="@{/img/menu/users.jpeg}" class="img-fluid rounded" alt="">
                </a>
            </div>
            <div class="col-sm">
                <a th:href="@{motorhome/all}">
                    <img th:src="@{/img/menu/motorhomes.jpeg}" class="img-fluid rounded" alt="">
                </a>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-sm">
                <a th:href="@{task/all}">
                    <img th:src="@{/img/menu/tasks.jpeg}" class="img-fluid rounded" alt="" >
                </a>
            </div>
            <div class="col-sm">
                <a th:href="@{zone/all}">
                    <img th:src="@{/img/menu/zones.jpeg}" class="img-fluid rounded" alt="" >
                </a>
            </div>
            <div class="col-sm">
                <a th:href="@{service/all}">
                    <img th:src="@{/img/menu/service.jpeg}" class="img-fluid rounded" alt="" >
                </a>
            </div>
            <div class="col-sm">
                <a th:href="@{statistics/chartList}">
                    <img th:src="@{/img/menu/statistics.jpeg}" class="img-fluid rounded" alt="">
                </a>
            </div>
        </div>
    </div>

    <div class="container" th:if="${#authorization.expression('hasAuthority(''EMPLOYEE'')')}">
        <div class="row mb-3">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <a th:href="@{employee/data}">
                    <img th:src="@{/img/menu/employees.jpeg}" class="img-fluid rounded" alt="">
                </a>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>

    <div class="container" th:if="${#authorization.expression('hasAuthority(''USER'')')}">
        <div class="row mb-3">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <a th:href="@{user/data}">
                    <img th:src="@{/img/menu/users.jpeg}" class="img-fluid rounded" alt="">
                </a>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>

    <br>

    <div th:insert="generics/fragments::footer"></div>

</body>
</html>