<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" href="../static/css/commons.css" th:href="@{/css/commons.css}"/>
    <title>Login</title>
</head>
<body>
    <div class="container w-75 bg-primary my-5 rounded shadow-lg">
        <div class="row align-items-md-stretch">
            <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-7 rounded-left">
            </div>
            <div class="col bg-white p-5 rounded-right">
                <div class="text-center">
                    <img th:src="@{/img/logo.jpeg}" width="90" height="90" alt="">
                </div>
                <h2 class="font-weight-bold text-center py-3">Bienvenido a <br> Sleeping Motorhome</h2>

                <form method="post" th:action="@{/sleepingMotorhome/login}">
                    <div class="mb-4">
                        <label for="username" class="form-check-label">Usuario</label>
                        <input type="text" id="username" name="username" class="form-control" autocomplete="off">
                    </div>
                    <br>
                    <div class="mb-4">
                        <label for="password" class="form-check-label">Contraseña</label>
                        <input type="password" id="password" name="password" class="form-control" autocomplete="off">
                    </div>
                    <br>
                    <div class="d-grid">
                        <input type="submit" class="btn btn-primary btn-sm m-1" value="Ingresar">
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>

</body>
</html>