<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <title>Login</title>
    <style>
        body{
            background: #ffe259;
            background: linear-gradient(to bottom, #025794, #EBEDEF);
        }
        .bg{
            background-image: url(../img/motorhome.jpg);
            background-position: center;
        }
    </style>
</head>
<body>
    <div class="container w-75 bg-primary my-5 rounded shadow-lg">
        <div class="row align-items-md-stretch">
            <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-7 rounded-left">
            </div>
            <div class="col bg-white p-5 rounded-right">
                <div class="text-center">
                    <img th:src="@{/img/logo.jpeg}" width="90" height="90" alt="">
                </div>
                <h2 class="font-weight-bold text-center py-3">Bienvenido</h2>
                <form action="#">
                    <div class="mb-4">
                        <label class="form-check-label">Usuario/Mail</label>
                        <input type="text" class="form-control" name="usuario">
                    </div>
                    <div class="mb-4">
                        <label class="form-check-label">Contraseña</label>
                        <input type="password" class="form-control" name="contrasena">
                    </div>
                    <!--div class="mb-4 form-check">
                        <input type="checkbox" name="conected" class="form-check-input">
                        <label class="form-check-label">Mantenerme conectado</label>
                    </div-->
                    <div class="d-grid">
                        <!--button type="submit" class="btn btn-primary">Iniciar Sesión</button-->
                        <a th:href="@{all}" class="btn btn-primary btn-sm m-1" role="button" data-bs-toggle="button">Iniciar Sesión</a>
                    </div>

                    <div class="my-3">
                        <span>No tienes cuenta? <a href="#">Registrate</a></span> <br>
                        <span><a href="#">Recuperar contraseña</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--script th:src="@{/assets/jquery/jquery.min.js}"></script>
    <script th:src="@{/assets/popper.js/popper.min.js}"></script>
    <script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script-->
</body>
</html>