<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <title>Usuarios</title>
    <style>
        body{
            background: #EDEDED;
            //background: linear-gradient(to bottom, #025794, #EBEDEF);
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="font-weight-bold text-center py-3">Tipos de persona</h2>
        <br><br>
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <!-- tener en cuenta que es ID de persona -->
                    <th>Id</th>
                    <th>Type(s)</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="list : ${listPersonTypes}">
                    <td th:text="${list.id}"></td>
                    <td th:text="${list.type}"></td>
                </tr>
            </tbody>
        </table>
        <!--<script th:src="@{/assets/jquery/jquery.min.js}"></script>
        <script th:src="@{/assets/popper.js/popper.min.js}"></script>
        <script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>-->
    </div>
</body>
</html>